.d-flex {
  display: flex;
}



header {
  height: 70px;
}

aside  {
  width: 122px;
  height: 100vh;
}

.input-group>.form-control:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.search-icon-ms {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.search-ms {
  border: 0;
  background-color: #e9ecef;
}

div .list-icons ul{
  list-style: none;
  justify-content: space-between;
}

div .list-icons ul li{
  padding-left: 10px;
}

.drop-bell {
  background:none;
}

.drop-bell:active {
  border: 0;
}

aside {
  height: calc(100vh - 70px);
  image: url("img/sidebar-bg.png");
  background-color: #051E34;
  background-size: cover;
  overflow: hidden;
}

div.row {
  flex-wrap: nowrap;
}

content.bottom {
  height: calc(100vh - 170px);
}

